.RestaurantImageWrapper{
  width: 100%;
  aspect-ratio: 2 / 3;
}

.RestaurantImageWrapper > img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}


#PlaceName, #PlaceDescription, #PlaceLink{
  text-align: center;
}
#PlaceDescription, #PlaceLink{
  margin: 8px 0 8px 0;
}

#SplitContainer{
  display: flex;
  position: relative;
  margin: 0 15vw 0 15vw;
}
#SplitContainer > section{
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}


#Left{
  width: 40%;
}
#ImageDropWrapper{
  width: 100%;
  min-height: 50vh;
}
#ImageDropWrapper *{
  pointer-events: none;
}
#ImageDropWrapper > div{
  aspect-ratio: .67;
  border: 2px dashed black;
  border-radius: 16px;
}
#ImageDropWrapper > div > p{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}



#Right{
  width: 60%;
  position: relative;
}

.FieldContainer > input[type="text"],
.FieldContainer > input[type="url"],
.FieldContainer > input[type="password"]{
  border: 2px solid black;
  background-color: #00000000;
  width: 100%;
  height: 33px;
  font-size: 25px;
  box-sizing: border-box;
}

.FieldInfo{
  font-size: 14px;
  text-align: left;
  margin: 7px 0px 2px 0px;
}

.FieldContainer{
  width: 80%;
  margin: 0px auto 20px auto;
}



.DropdownMenu{
  font-size: 25px;
  width: 100%;
  background-color: #ffffff7f;
  display: flex;
  position: relative;
}
.DropdownMenu::before{
  content: ".";
  visibility: hidden;
}
.DropdownMenu > div{
  position: absolute;
  backdrop-filter: blur(3px) invert(.1);
  top: 0px;
  width: 100%;
  z-index: 20;
}
.DropdownMenu > div * {
  display: block;
  width: 100%;
  user-select: none;
  padding-left: 5px;
  box-sizing: border-box;
}
.DropdownMenu > div *:not(:first-child){
  display: none;
}
.DropdownMenu:hover > div *{
  display: block;
  cursor: pointer;
}
.DropdownMenu > div *:hover{
  background-color: #0000001f;
}
.DropdownMenu > div *:active{
  background-color: #0000003f;
}


.setloc-map {
    max-width: 100%;
    height: 400px;
    margin-top: 1em;
    border: 1px solid #eee;
}

#Map{
  aspect-ratio: 2;
  min-height: calc(30vw - 150px);/*calc(50vh - 70%);*/
  max-width: 100%;
}
#Map div[style*="width: 256px"]{
  filter: invert(.2) brightness(2) saturate(1.6);
  /*This is just so that the map looks nicer. Legally,
  it should be fine because this is not a production
  website anyway, and the "For development purposes
  only" is still clearly visible.*/
}

#MapTitleExplanation{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #ffffff7f;
  backdrop-filter: blur(3px);
  margin: 0;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  z-index: 10;
  pointer-events: none;
  opacity: 1;
  transition: opacity .5s linear;
}
#HiddenPlaceTypeInput,
#id_longitude,
#id_latitude{
  display: none; /*These exist just to hold the data entered with the map*/
}

button,input{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
input[name="Submit"]{
  margin: 5px auto 5px auto;
  border: 2px solid black;
  padding: 5px 15px 5px 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}
input[name="Submit"]:hover{
  backdrop-filter: brightness(.9);
}
input[name="Submit"]:active{
  backdrop-filter: brightness(.7);
}

#ConsentCheckboxWrapper{
  position: relative;
  text-align: center;
}
input[type="checkbox"]{
  margin: auto;
  font-size: 20px;
  transform: scale(2);
  display: inline-block;
}
input[type="checkbox"] + span{
  font-size: 20px;
  margin-left: 10px;
  display: inline-block;
}
