@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
  font-family: "PT Sans", sans-serif;
}
a, a:visited{
	color: inherit;
	text-decoration: unset;
	
}
body{
  margin: 0;
}


header{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4F4159;
}

#ButtonsWrapper{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
#ButtonsWrapper > a{
  display: block;
  margin: 8px 8px 8px 0;
  padding: 8px;

  text-align: center;
  font-weight: bold;
  font-size: 20px;
  min-width: 100px;

  background-color: #7C83B7;
  color: #ffffff;
  backdrop-filter: blur(3px);
  user-select: none;
  cursor: pointer;
}
#ButtonsWrapper > a:hover{
  filter: brightness(.85);
}
#ButtonsWrapper > a:active{
  filter: brightness(.7);
}

#ButtonsWrapper > div:hover{
  filter: brightness(.85);
}
#ButtonsWrapper > div:active{
  filter: brightness(.7);
}


#WebsiteTitle{
  position: absolute;
  transform: translate(-50%, -50%);
  left: calc(min(50%, 69% - 220px));
  top: 50%;
  font-size: 28px;
  color: #ffffff;
  margin: 0px;
}


#PageContainer{
  position: relative;
  min-height: 100vh;
}
#PageContentWrapper{
  padding-bottom: 200px;
}
footer{
  background-color: #4F4159;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}
footer > h1{
  text-align: center;
  color: #ffffffff;
}
#SocialMediaWrapper{
  display: flex;
  justify-content: center;
}
#SocialMediaWrapper > img{
  width: 48px;
  height: 48px;
  margin: 10px;
  cursor: pointer;
}
