{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a page
{% endblock %}

{% block staticfiles_block %}
	<link rel="stylesheet" href="{% static 'css/AddPlacestyle.css' %}" />
{% endblock %}

{% block body_block %}
	<form name="AddPlaceForm" id="AddPlaceForm" action="{% url 'suggestGlasgow:add place' %}" method="POST" target="StayOnThisSite">
		<main>
			<div id="SplitContainer">
				<section id="Left">
					<div id="ImageDropWrapper">
						<div>
							<p>Drag and drop an image of the place</p>
						</div>
					</div>
				</section>
				
				<section id="Right">
					<div class="FieldContainer">
						<p class="FieldInfo">Place name</p>
						<input type="text" name="PlaceName" required></input>
					</div>
					<div class="FieldContainer">
						<p class="FieldInfo">Place type</p>
						<input type="text" name="PlaceType" required></input>
					</div>
					<div class="FieldContainer">
						<p class="FieldInfo">Location</p>
						<p id="MapTitleExplanation">Select a point on the map</p>
						<div id="Map" data-lat="55.865" data-lng="-4.25"></div>
						<input id="HiddenLatitudeInput" type="number" name="Latitude" required></input>
						<input id="HiddenLongitudeInput" type="number" name="Longitude" required></input>
					</div>
					<div class="FieldContainer">
						<p class="FieldInfo">Website link (optional)</p>
						<input type="text" name="PlaceWebsite"></input>
					</div>
				</section>
			</div>
			<div id="ConsentCheckboxWrapper">
				<input id="ConsentCheckbox" type="checkbox" name="Consent" required></input>
				<span>By submitting, you confirm that this information is correct to the best of your knowledge.</span>
			</div>
			<br/>
			<button type="submit" name="Submit">Submit</button>
		</main>
	</form>
	<br/>

	<iframe id="StayOnThisSite" name="StayOnThisSite" style="display: none"></iframe>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src="{% static 'js/Main.mjs' %}" type="module"></script>
{% endblock %}
