{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add a page
{% endblock %}

{% block staticfiles_block %}
	<link rel="stylesheet" href="{% static 'css/AddPlacestyle.css' %}" />
{% endblock %}

{% block body_block %}
	<br>
	<main>
		<div id="SplitContainer">
			<section id="Left">
				<div class="RestaurantImageWrapper">
					<img id="output" />
				</div>
			</section>
			
			<section id="Right">
				<form name="AddPlaceForm" id="AddPlaceForm" action="{% url 'suggestGlasgow:add place' %}" method="POST" target="StayOnThisSite">
					{% csrf_token %}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					
					<div class="FieldContainer">
						{{ form.place_name.errors }}
						<p class="FieldInfo">
							{{ form.place_name.help_text }}
						</p>
						{{ form.place_name }}
							
					</div>
					
					
					<div class="FieldContainer">
						{{ form.place_type.errors }}
						<p class="FieldInfo">
							{{ form.place_type.help_text }}
						</p>
						<div class = "DropdownMenu" id="SelectTypeMenu">
							<div>
								{{ form.place_type }}
							</div>
						</div>
					</div>
					
					<div class="FieldContainer">
						{{ form.place_image.errors }}
						<p class="FieldInfo">
							{{ form.place_image.help_text }}
						</p>
						{{ form.place_image }}
							
					</div>
					
					<div class="FieldContainer" onLoad="loadMap()">
						<p id="MapTitleExplanation">Select a point on the map</p>
						<div id="Map" data-lat="55.865" data-lng="-4.25"></div>
						{{ form.longitude }}
						{{ form.latitude }}
					</div>
					
					<div class="FieldContainer">
						{{ form.url.errors }}
						<p class="FieldInfo">
							{{ form.url.help_text }}
						</p>
						{{ form.url }}
					</div>
					

					<div id="ConsentCheckboxWrapper">
							<input id="ConsentCheckbox" type="checkbox" name="Consent" required></input>
							<span>By submitting, you confirm that this information is correct to the best of your knowledge.</span>
					</div>
					<br>
					<input type="submit" name="submit" value="Submit" />
				</form>
			</section>
		</div>
		<br/>
	</main>
	<iframe id="StayOnThisSite" name="StayOnThisSite" style="display: none"></iframe>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src="{% static 'js/Main.mjs' %}" type="module"></script>
{% endblock %}
