<!DOCTYPE HTML>
{% load staticfiles %}
{% load rango_template_tags %}

<html>
	<head lang = "en">
		<meta charset = "utf-8"/>
		<title>
			SuggestGlasgow -
			{% block title_block %}
				
			{% endblock %}
		</title>
		<!-- CSS -->
		<link rel="stylesheet" href="{% static "css/BaseStyle.css" %}" />
		<!-- JavaScript -->
		<script src="{% static 'js/jquery.js' %}"></script>
		{% block staticfiles_block %}
				
		{% endblock %}
	</head>
	
	<body>
		<div id="PageContainer">
			<div id="PageContentWrapper">
				<!-- display username in corner?-->
				<header>
					<h1 id="WebsiteTitle"><a href="{% url 'suggestGlasgow:home' %}"> SuggestGlasgow </a></h1>
					<div id="ButtonsWrapper">	<!-- do we change these to buttons? !-->
						{% if user.is_authenticated %}
							<a href="{% url 'suggestGlasgow:logout' %}">LogOut </a>
							<a href="{% url 'suggestGlasgow:profile' %}">My Profile</a>
						{% else %}
							<a href="{% url 'suggestGlasgow:sign up' %}">Sign Up</a>
							<a href="{% url 'suggestGlasgow:login' %}">Login</a>
						{% endif %}
					</div>
				</header>
					
				<div>
				{% block body_block %}
				{% endblock %}
				</div>
					
			</div>	

			<footer>
				<h1>Contact us!</h1>
				<div id="SocialMediaWrapper">
					<img src="{% static 'images/Instagram.png' %}" alt="Instagram Logo" />
					<img src="{% static 'images/Twitter.png' %}" alt="Twitter Logo" />
					<img src="{% static 'images/Youtube.png' %}" alt="Youtube Logo" />
				</div>
			</footer>
		</div>
		<script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
		<script src="{% static "js/rango-jquery.js" %}" crossorigin="anonymous"></script>
		<script src="{% static "js/rango-ajax.js" %}" crossorigin="anonymous"></script>
	</body>
	
</html>