{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	<!-- put place name here ? !-->
	<!-- need to do style sheets !-->
{% endblock %}

{% block body_block %}
    <div id="PageContainer">
      <div id="PageContentWrapper">
        <header>
          <div id="ButtonsWrapper">
            <div>Sign up</div>
            <div>Log in</div>
          </div>
          <h1 id="WebsiteTitle">SuggestGlasgow</h1>
        </header>
        <br />
        <h1 id="PlaceName">Place name</h1>
        <h2 id="PlaceDescription">This place is a [popular] &lt;place type&gt;.</h2>
        <h2 id="PlaceLink"><a href="about:blank">Click here to visit their website (if not available, don't show this)</a></h2>
        <br />
        <main>
          <section id="Left">
            <div id="RestaurantImageWrapper"><img alt="Restaurant Image" src="C:\Users\niamh\Workspace\suggestGlasgow_project\static\images\Restaurant.jpg" /></div>
            <div id="Ratings">
              <div data-count="13"><img src="Like.png" /></div>
              <div data-count="69"><img src="Dislike.png" /></div>
              <div data-count="Add"><img src="Add.png" /></div>
              <div id="CommentButton">Comment</div>
            </div>
          </section>
          <section id="Right">
            <div id="OverflowWrapper">
              <div id="Map" data-lat="55.78" data-lng="-3.78"></div>
              <h2 id="CommentSectionTitle">Top Comments</h2>
              <h4 id="ViewAllComments">Click to view all</h4>
              <!-- Top comments will be added here -->
            </div>
          </section>
        </main>
        <br />
      </div>
      <footer>
        <h1>Contact us!</h1>
        <div id="SocialMediaWrapper">
          <img src="Instagram.png" />
          <img src="Twitter.png" />
          <img src="Youtube.png" />
        </div>
      </footer>
    </div>

    <div id="CommentsOverlayBackground">
      <div>
        <h1>Comments for Place Name</h1>
        <div id="CommentsSection">
          <div id="CommentsWrapper"></div><!--Comments will appear here -->
          <div id="LoadMoreCommentsButton">Load more comments</div>
        </div>
        <div id="PostCommentWrapper">
          <form name="PostCommentForm" id="PostCommentForm" action="/SubmitThisSomewhere" method="POST" target="StayOnThisSite">
            <h3>Post a comment</h3>

            <textarea name="Comment" placeholder="Type your comment here..."></textarea>
            <button type="submit" name="Submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <template id="TComment">
      <div class="Comment">
        <div class="InfoWrapper">
          <div class="Title">Great restaurant</div>
          <div class="UserDate">by Mogus on 2022-02-22</div>
        </div>
        <p class="Text">
          Among all of the restaurants in Glasgow, this one must be the one of the best.
          The food is great, and the staff are really nice.
        </p>
      </div>
    </template>
    <iframe id="StayOnThisSite" name="StayOnThisSite" style="display: none"></iframe>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="Main.mjs" type="module"></script>
{% endblock %}
