{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}

{% block staticfiles_block %}
	<link rel="stylesheet" href="{% static 'css/HomeStyle.css' %}" />
{% endblock %}

<div id="Parent">
	<div id="WebsiteTitleWrapper">
		<h1 id="WelcomeTitle">Welcome to this website!</h1>
		<h2 id="SelectionTitle">I would like to go to a ...<span>
		<form name = "SuggestPlaceForm" id="suggest_form" method="post" action = "">
			{% csrf_token %}
			<div class = "DropdownMenu" id="SelectTypeMenu">
				<!--
					<div>{{ form.place_type }}</div>
				{% for x, y in form.fields.place_type.choices %}
					<option value="{{ x }}">{{ y }}</option>
				{% endfor %}
				-->
				<div>
					<div>&nbsp;</div>
					{% for x, y in form.fields.place_type.choices %}
					<div data-type="{{ x }}">{{ y }}</div>
					{% endfor %}
				</div>
			</div>
			
			<input id="id_place_type" name="place_type" type="text" />
			<input id="SubmitButton" type="submit" name="submit" value="Suggest Place" />
		</form>
		</span></h2>
	</div>
</div>
<br/>
<br/>
<main>
	<div>
		<img src ="{% static 'images/Background.jpg' %}" alt=" Background Logo" />
		<div>
			<h2>Blurb on website</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus erat, vestibulum id mauris sed, viverra vestibulum magna. Sed venenatis aliquet mauris in bibendum. Morbi felis leo, finibus ut dapibus ut, gravida id felis. Mauris enim massa, lacinia eget sem sed, commodo malesuada turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales ligula non est venenatis scelerisque. In fringilla risus ut ex luctus feugiat. Aenean luctus dignissim ante eu dapibus. Suspendisse potenti.</p>
		</div>
	</div>
	<div>
		<img src ="{% static 'images/Background.jpg' %}" alt=" Background Logo" />
		<div>
		  <h2>Top 5 most liked places</h2>
		 
		</div>
	</div>
</main>
<script type="text/javascript" src="{% static 'js/Home.mjs' %}" type="module"></script>
<br />
{% endblock %}

