{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Log In 
	<link rel="stylesheet" href="./style.css" />
{% endblock %}

{% block body_block %}
	<div>
        <h1>Log in to SuggestGlasgow</h1>
        <form name="login_form" id="LogInForm" method="POST" action="{% url 'suggestGlasgow:login' %}" <!-- target="StayOnThisSite" !-->
          <div class="FieldContainer">
            <p class="FieldInfo">Username</p>
            <input type="text" name="Username"></input>
          </div>

          <div class="FieldContainer">
            <p class="FieldInfo">Password</p>
            <input type="password" name="Password"></input>
          </div>
          <br />
          <input type="checkbox" name="Remember"><span>Remember me</span></input><br /><br />
          <button type="submit" name="Submit">Log In</button>
          <button>Go back</button><br />
        </form>
        <br />
        <p><a href= "{% url 'suggestGlasgow:sign up' %}" >Don't have an account? Sign up now!</a></p>
      </div>
    <iframe id="StayOnThisSite" name="StayOnThisSite" style="display: none"></iframe>
{% endblock %}
