{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
	Log In 
{% endblock %}

{% block staticfiles_block %}
	<link rel="stylesheet" href="{% static 'css/LogInstyle.css' %}" />
{% endblock %}

{% block body_block %}
	
	<div>
        <h1>Log in to SuggestGlasgow</h1>
		<!-- changed this id so will need to change in css 
		<form id="login_form" method="post" action="{% url 'suggestGlasgow:login' %}" <!-- target="StayOnThisSite" !-->
		<form id="login_form" method="post" action="{% url 'suggestGlasgow:login' %}">
			{% csrf_token %}
			<div class="FieldContainer">
				<p class="FieldInfo">Username</p>
				<input type="text" name="username" value="" size="50" />
			</div>

			<div class="FieldContainer">
				<p class="FieldInfo">Password</p>
				<input type="password" name="password" value="" size="50" />
			</div>
			<br /> 
			<input type="checkbox" name="Remember"><span>Remember me</span></input><br /><br />
			<input type="submit" value="Log in" />
			<button>Go back</button><br /> 
        </form> 
		
        <br />
        <p><a href= "{% url 'suggestGlasgow:sign up' %}" >Don't have an account? Sign up now!</a></p>
      </div>
    <iframe id="StayOnThisSite" name="StayOnThisSite" style="display: none"></iframe>
{% endblock %}
