{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Suggest Glasgow

{% endblock %}

{% block staticfiles_block %}
	<link rel="stylesheet" href="{% static 'css/examplePlacestyle.css' %}" />
{% endblock %}

{% block body_block %}
				
	<div>	
	{% if place %}
		<h1 id="PlaceName">{{ place.place_name }}</h1>
		<h2 id="PlaceDescription">This place is a [popular] {{ place.place_type }}.</h2>
		{% if place.url %}
			<h2 id="PlaceLink"><a href="{{ place.url }}">Click here to visit their website </a></h2>
		{% endif %}
			<br/>
	
			<main>
				<section id="Left"> 
					<div id="RestaurantImageWrapper"><img alt="Restaurant Image" src="{% static 'images/Restaurant.jpg' %}" /></div>
					<div id="Ratings">
					
						 <!-- <div data-count="{{ place.likes }}"><img src="{% static 'images/Like.png' %}" /></div> -->
						<div>
							
							{{ user }}
							{% if user.is_authenticated %}
								 <form action="{% url 'suggestGlasgow:place_like' place.slug %}" method="POST">
									{% csrf_token %}
									
									{% if post_is_liked %}
									<button type="submit" name="slug" value="{{place.slug}}" class="btn btn-info">Unlike</button>
									 {% else %}
									<button type="submit" name="slug" value="{{place.slug}}" class="btn btn-info">Like</button>
									{% endif %}
							{% else %}
								 <!-- cant click button !-->
							{% endif %}
							<strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
								 
<!-- 							<button id="like_btn"
							data-placeid ="{{ place.PlaceID }}"
							class="btn btn-primary btn-sm"
							type="button">
							<img alt="Restaurant Button" src= "{% static 'images/Like.png' %}">
							</button>
 -->
						</div>
						
						<div>
							<strong id="dislike_count">{{ place.dislikes }}</strong> dislikes
							{% if user.is_authenticated %}
								<button id="dislike_btn"
								data-placeid ="{{ place.PlaceID }}"
								class="btn btn-primary btn-sm"
								type="button">
								<img alt="Restaurant Button" src= "{% static 'images/Dislike.png' %}">
								</button>
								{% else %}
									<!-- display just the picture here !-->					
								{% endif %}
						</div>
						
						<div>
							<strong id="save"></strong> Save
							{% if user.is_authenticated %}
								<button id="save_btn"
								data-placeid ="{{ place.PlaceID }}"
								class="btn btn-primary btn-sm"
								type="button">
								<img alt="Restaurant Button" src= "{% static 'images/Add.png' %}">
								</button>
								{% else %}
									<!-- display just the picture here !-->					
								{% endif %}
						</div>
						
						
						<div id="CommentButton">Comment</div>
					</div>
				</section>
				
				<section id="Right">
					<div id="OverflowWrapper">
						<div id="Map" data-lat="55.78" data-lng="-3.78"></div>
						<h2 id="CommentSectionTitle">Top Comments</h2>
						<h4 id="ViewAllComments">Click to view all</h4>
						<!-- Top comments will be added here -->
					</div>
				</section>
			</main>
			<br />
	{% else %}
		Error, not receieving place
	{% endif %}
	
	<br/>
	


	<div id="CommentsOverlayBackground">
	<div>
		<h1>Comments for Place Name</h1>
		<div id="CommentsSection">
			<div id="CommentsWrapper"></div><!--Comments will appear here -->
			<div id="LoadMoreCommentsButton">Load more comments</div>
		</div>
	
		<div id="PostCommentWrapper">
			<form name="PostCommentForm" id="PostCommentForm" action="/SubmitThisSomewhere" method="POST" target="StayOnThisSite">
				<h3>Post a comment</h3>

				<textarea name="Comment" placeholder="Type your comment here..."></textarea>
				<button type="submit" name="Submit">Submit</button>
			</form>
		</div>
	</div>
	</div>

	<template id="TComment">
		<div class="Comment">
			<div class="InfoWrapper">
				<div class="Title">Great restaurant</div>
				<div class="UserDate">by Mogus on 2022-02-22</div>
			</div>
	
			<p class="Text">
				Among all of the restaurants in Glasgow, this one must be the one of the best.
				The food is great, and the staff are really nice.
			</p>
	`	</div>
	</template>

	<iframe id="StayOnThisSite" name="StayOnThisSite" style="display: none"></iframe>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script type="text/javascript" src="{% static 'js/ExamplePlaceMain.mjs' %}" type="module"></script>
{% endblock %}
