{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
	Profile 
{% endblock %}

{% block staticfiles_block %}
	<link rel="stylesheet" href="{% static 'css/Profilestyle.css' %}" />
{% endblock %}

{% block body_block %}
	<br/>
	<h1 id="Title">My places</h1>
	<h2 id="Subtitle">Here you can find all of the places you've added!</h2>
	<br/>
	<main>
	{% if saved %}
		<div class="OverflowWrapper" id="AddedPlacesWrapper">
			<div class="ItemsWrapper">
				{% for place in saved %}
					<div>
						<a href="{% url 'suggestGlasgow:show_place' place.slug %}">
							<h2 class="RestaurantName">{{ place.place_name }}</h2>
							<div class="RestaurantImageWrapper"><img alt="Restaurant Image" src="{{ place.place_image }}" /></div>
						</a>
						<div class="Ratings">
							<div data-count="{{ place.number_of_likes }}"><img src="{% static 'images/Like.png' %}" /></div>
							<div data-count="{{ place.number_of_dislikes }}"><img src="{% static 'images/Dislike.png' %}" /></div>
							<div class="RemoveButton">Remove</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		You have no saved places
	{% endif %}
		
	</main>
	<br />
	<!-- make this a button? !-->
	<h2 id="Subtitle"><a href="{% url 'suggestGlasgow:add place' %}">Add a new place here</a></h2>
	<br/>
    <script type="text/javascript" src="{% static 'js/HorizontalAlignment.mjs' %}" type="module"></script>
{% endblock %}
