{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Sign up
{% endblock %}

{% block body_block %}

<!-- this class fixes the inline css problem. should move classes to base to allow several styles! -->
<style>
.pageStyle {
	text-align : center;
}
</style>
<div class = "pageStyle">
<h1>Sign up for SuggestGlasgow :)</h1>

<!-- you shouldn't be able to get here but just in case :) -->
<!-- you get here once done registering -->
{% if registered %}
You are now registered!
<a href="{% url 'suggestGlasgow:home' %}">Return to the homepage.</a><br />
{% else %}
By signing up you can save, rate and comment on any place you like!!!<br />
<form id="user_form" method="post" action="{% url 'suggestGlasgow:sign up' %}" enctype="multipart/form-data">
	
	{% csrf_token %}
	{{ user_form }}
	
	<input type="submit" name="submit" value="Sign Up!" />
</form>
</div>
{% endif %}
{% endblock %}