{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
	Sign Up
{% endblock %}

{% block staticfiles_block %}
	<link rel="stylesheet" href="{% static 'css/LogInstyle.css' %}" />
{% endblock %}

<!-- need to modify this so that you can either scroll or there is no header and footer !-->
{% block body_block %}
	<div id="BackgroundImage"></div>
    <div id="CenterWrapper">
	<div>
        <h1>Sign up to SuggestGlasgow</h1>
		<!-- changed this id so will need to change in css 
		<form id="login_form" method="post" action="{% url 'suggestGlasgow:login' %}" <!-- target="StayOnThisSite" !-->
		<form id="form" method="post" action="{% url 'suggestGlasgow:sign up' %}">
			{% csrf_token %}
			<div class="FieldContainer">
				<p class="FieldInfo">Username</p>
				{{ user_form.username }}
				<p class="FieldInfo Errors">{{ user_form.username.errors.as_text }}</p>
			</div>

			<div class="FieldContainer">
				<p class="FieldInfo">Password</p>
				{{ user_form.password }}
				<p class="FieldInfo Errors">{{ user_form.password.errors.as_text }}</p>
			</div>

			<div class="FieldContainer">
				<p class="FieldInfo">Email</p>
				{{ user_form.email }}
				<p class="FieldInfo Errors">{{ user_form.email.errors.as_text }}</p>
			</div>
			<br/>
			<a href="{% url 'suggestGlasgow:login' %}"><button type="submit" name = "submit">Sign up</button></a>
			<a href="{% url 'suggestGlasgow:home' %}"><button type="button">Go back</button></a>
			<br/> 
        </form> 
		
        <br />
        <p><a href= "{% url 'suggestGlasgow:login' %}" >Already have an account? Log in!</a></p>
      </div>
    <iframe id="StayOnThisSite" name="StayOnThisSite" style="display: none"></iframe>
	</div>
{% endblock %}
